$color1: black;
$color2: white;
$color3: #333;


.navbar {
    background-color: $color2;
    padding-bottom: 0;
}

.navbar-toggler i{
    color: black;
}

.navbar .nav-link{
    color: $color1 !important;
    border-top: 3px solid $color1;
    border-left: 3px solid $color1;
    border-radius: 10px;
    /* text-align: left; */
}

.navbar .nav-link:hover{
    background-color: $color3;
    color: $color2 !important;
}

.jumbotron1 {
    background-image: url(./imagenes/Negro\ Blanco\ Fotografía\ Contabilidad\ Servicio\ Sitio\ Web.png);
    background-position: center;
    background-size: cover;
    /* height: 500px; */
    height: calc(89vh - 80px);
    color: $color2;
    text-shadow: 0 0 $color3;
    border-radius: 0;
    margin-bottom: 0;
    
}


.footer1 {
    background-color: $color1;
    font-size: 30px;
    color: $color2;
    height: 70px;
    text-align: center;
    margin-bottom: 0;
}



/*quienSoy*/

.soy{
    width: 100%;
    height: auto;
    background-color: $color1;
    color: $color2;
    /* margin: 50px; */
}

.nleft{
    padding: 50px;
}

.nright{
    height: 509px;
    background-image: url(./imagenes/apple-g192603282_640.jpg);
    background-position: center;
    background-size: cover;
}

.soy h2{
    margin-left: 45px;
}

/*proyectos*/
    
.bienvenida{
    height: 100px;
    margin: 20px;
    font-size: 25px;
}    

.tarjetas{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.card{
    /* height: 450px; */
    flex-basis: 280px;
    max-width: 450px;
    background-color: $color1;
    border: 3px solid $color3;
    flex-grow: 1;
}

.card-img{
    height: 200px;
    background-image: url(./imagenes/proyectos.jpg);
    background-size: cover;
    background-position: center;
}

.card-titulo{
    color: $color2;
    height: 125px;
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

.card-enlace{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-enlace a{
    text-decoration: none;
    color: $color2;
    font-size: 30px;


}

.regreso a{
    text-decoration: none;
    color: $color2;
}

.regreso i:hover{
    color: blue;
}


/*Trabajemosjuntos*/

.juntos {
    height: auto;
    width: 100%;
    background-color: $color1;
    color: $color2;
}
.ileft {
    background-image: url(./imagenes/Saludo.png);
    height: 550px;
    background-size: cover;
    background-position: center;
}

.iright h2{
    text-align: center;
    margin: 20px;
}

.iright {
    padding: 40px;
    padding-left: 60px;
}

/*testimonio*/

.test{
    background-color: $color2;
    color: $color1;
    height: 115px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    font-size: 20px;
}

.boxtest{
    flex-basis: 280px;
    max-width: 450px;
    background-color: $color1;
    border: 3px solid $color3;
    flex-grow: 1;
}

.boxtest-img{
    height: 200px;
    width: 180px;
    background-image: url(./imagenes/persona.jpg);
    background-size: cover;
    background-position: left;
    margin: 40px;
}

.boxtest-titulo{
    color: $color2;
    height: 70px;
    display: flex;
    margin-top: 20px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.boxtest-enlace{
    height: auto;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: flex-start;
    color: $color2;
    flex-direction: column;
}

.boxtest-enlace a{
    text-decoration: none;
    color: $color2;
    font-size: 20px;
    margin: 20px;


}

.testimag{
    height: 250px;
    width: 30%;
    border: 3px solid $color1;
    background-image: url(./imagenes/persona.jpg);
    background-size: cover;
}